@import '../../styles/_utils.scss';
@import './layout';

.nav {
  @include flex($align: center, $justify: space-between);
  @include wrapper(64px);
}

.checkBoxWrapper {
  @include checkboxWrapper();
  @include flex($align: center, $justify: center);
  width: 4%;
  transform: translateY(-0.2rem);
  // 60px
}

.nav__contentWrapper {
  width: 100%;
  @include flex($align: center, $justify: space-between);
  span {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
}

.right {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-around;

  div {
    width: 25%;
    height: 100%;
  }
}
