@import '../../styles/_utils.scss';
@import './layout';

.wrapper {
  width: 1280px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 2rem;
}

.issueWrapper {
  @include wrapper(100px);
  border-top: 1px solid black;
  box-sizing: border-box;
}

.leftWrapper {
  @include leftWrapper();
  @include flex($align: center);
}

.checkBoxWrapper {
  @include checkboxWrapper();
}

.issue__contentWrapper {
  @include contextWrapper();
  @include flex($direction: column, $justify: center);

  div {
    @include flex($align: center);
    height: 40%;
  }

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 20px;
  }

  .textWrapper {
    span {
      font-size: 1.6rem;
      color: #6e7191;
      margin-right: 1.5rem;
    }
  }
}

.rightWrapper {
  @include rightWrapper();
  @include flex($align: center, $justify: space-around);

  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
