@import '../../styles/_utils.scss';
@import '../../styles/buttons';

.button {
  @include bigButton();
}

.text {
  font-size: 2rem;
}

.container {
  width: 100%;
  height: 1044px;
  @include flex($direction: column, $align: center, $justify: center);
}
