@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmjbvx');
  src:  url('fonts/icomoon.eot?vmjbvx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmjbvx') format('truetype'),
    url('fonts/icomoon.woff?vmjbvx') format('woff'),
    url('fonts/icomoon.svg?vmjbvx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-initial .path1:before {
  content: "\e90f";
  color: rgb(254, 254, 254);
}
.icon-checkbox-initial .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(20, 20, 43);
}
.icon-search:before {
  content: "\e90d";
}
.icon-check-on-circle:before {
  content: "\e90c";
}
.icon-check-off-circle:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e908";
}
.icon-x-square:before {
  content: "\e901";
}
.icon-tag:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e902";
}
.icon-checkbox-disable:before {
  content: "\e900";
}
.icon-checkbox-active:before {
  content: "\e90e";
}
.icon-arichive:before {
  content: "\e912";
}
.icon-milestone:before {
  content: "\e903";
}
.icon-paperclip:before {
  content: "\e904";
}
.icon-smile:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-refresh-ccw:before {
  content: "\e90a";
}
.icon-alert-circle:before {
  content: "\e910";
}
