@import '../../styles/_buttons.scss';
@import '../../styles/_utils.scss';

.section {
  position: relative;
  width: 342px;
  height: 549px;

  .title {
    font-size: 5.6rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
  }
}

.wrapper {
  width: 100%;
  height: 372px;
  margin-top: 61px;
}

.divider {
  @include flex($align: center, $justify: center);
  height: 64px;
  width: 100%;
  font-size: 1.6rem;
  color: #a0a3bd;
}

.form {
  @include flex($direction: column, $align: center, $justify: space-between);
  width: 100%;
  height: calc(100% - 128px);

  input {
    width: calc(100% - 48px);
    height: calc(64px - 36px);
    padding: 18px 24px;
    border: none;
    background-color: #a0a3bd;
    &:focus {
      outline: none;
    }
  }

  .login_button {
    @include bigButton();
    background-color: #007aff;
  }
}

.signUp_button {
  width: 100%;
  height: 64px;
}
