.Box {
  display: flex;
  margin: 0 8rem;
  border-bottom: 0.1rem solid #d9dbe9;
}

.titleBox {
  align-items: center;
  height: 11.2rem;
}

.formBox {
  height: 47.9rem;
  margin: 3.2rem 8rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 400;
}
